body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to top, rgb(66, 66, 133) 20%, lightblue 70%);
    height: 100vh;
    margin: 0;
    background-image: url(pexels-danielabsi-952670.jpg);
    background-size: contain;
    font-family: "Playpen Sans", cursive;
}
.profileicon{
    position: absolute;
    top: 20px;
    left: 10%;
}
.kingdomicon{
    position: absolute;
    top: 23px;
    left:82%;
    width: 30px;
}
.diamond{
    position: absolute;
    top: 100px;
}

.footer{
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    background-color: black;
    color:white;
    height: 70px;
    align-items: center;
    justify-content: center;
    font-size: 8px;
}
.footer a img{
    width: 24px;
}
.nav-icon{
    width: 70%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: white;
    opacity: 0.3;
}
.active{
    opacity: 1;
}
.friendslist{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    bottom: 70px;
    left: 0;
    right: 0;
    color: wheat;
    
}
.friendslist h3{
    background-color: whitesmoke;
    color: black;
    display: flex;
    justify-content: center;
    position: absolute;
    top: -45px;
    width: 100%;
    border-radius: 8px 8px 0 0 ;
}
.friendslist div{
    background-color: black;
    height: 50px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
.friendslist div::after{
    content: '';
    position: absolute;
    left: 0; /* Start the line from the left padding */
    right: 0; /* Extend the line to the right padding */
    bottom: 0; /* Position the line at the bottom of the div */
    border-bottom: 1px solid white; /* The white line */
    width: calc(100% - 30px); /* Adjust the width to leave space on both sides */
    margin: 0 15px; /
}
.friendslist div:last-child::after{
    content: none;
}
.friendslist button{
    width: 100%;
    height: 40px;
    background-color: green;
    color: white;
    font-size: 15px;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
}
.friendslist button img{
    width: 15px;
    margin-right: 20px;
}
.connectbtn{
    height: 50px;
    background-color: rgb(7, 7, 37);
    border: none;
    color: white;
    width: 200px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
}
.connectbtn img{
    width: 20px;
    margin-right: 20px;
}


.backbtn{
    position: absolute;
    top: 20px;
    left: 30px;
}
.profpic{
    margin-right: 30px;
    width: 50px;
    margin-left: 30px;
}
.profdetails{
    display: flex;
    color: white;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.37);
    height: 100px;
    width: 300px;
    border-radius: 10px;
    font-size: 17px;
}
.desc{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.desc img{
    width: 30px;
}

.tasksdiv{
    height: 40vh;
    display: flex;
    flex-direction: column;
   
}
.tasksdiv div{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(90, 69, 69);
    height: 50px;
    width: 100%;
    color: white;
    font-size: 18px;
    border-radius: 10px;
    margin-bottom: 10px;
    padding: 0 10px 0 10px;
}
.tasksdiv span{
    color: gold;
    font-size: 10px;
}
h3{
    color:white;
}
.mining-info{
    margin-top: 80px;
}
.balicon{
    width: 30px;
}
.balsection{
    position: absolute;
    top: 20px;
    display: flex;
    align-items: center;
    font-size: 30px;
    color: rgb(186, 217, 235);
}
.claimbtn{
    position: absolute;
    top: 380px ;
    color: white;
    background-color: rgb(121, 196, 78);
    border: none;
    border-radius: 15px;
    height: 50px;
    width: 300px;
    font-size: 17px;
}
.gobtn{
    background-color: black;
    color: white;
    border: none;
    width: 30px;
    height: 30px;
    border-radius: 50%;
}
.gobtn.claimed{
    width: 60px;
    background-color: green;
}

.crownbal{
    color: white;
}
.username{
    color: white;
}

.confirmpopup {
    display: none;
    flex-direction: column;
    background-color: rgba(211, 204, 204, 0.514);
    width: 100%;
    align-items: center;
    justify-content: space-between;
    height: 100px;
    position: fixed;
    bottom: -100px; 
    transition: bottom 1s ease-in-out; 
    padding-top: 10px;
    padding-bottom: 10px;
}


.confirmpopup.show {
    display: flex;
    bottom: 70px;
}

.confirmpopup span{
    font-size: 18px;
    
}
.confirmpopup button{
    background-color: green;
    color: white;
    border: none;
    width: 100px;
    height: 20px;
}
.confirmpopup input{
    width: 60px;
}
